<html>
<head>
	<title>Welcome</title>
	<style>
		body{
			background-color: #404040;
			color : white; 
		}

		a{
			text-decoration: none;
			color:white;
		}
		.button{
			background-color: #00ff00; 
			padding:10px;
			height:20px;
			width:115px;
			text-align: center;
			border-radius:10px;
			cursor: pointer;
		}
		#loginbut{
			margin-left:15%;
			margin-top:15%;
		}
		#signinbut{
			margin-left:15%;
			margin-top:1%;
		}
	</style>
</head>
<body>
	<h1 style="text-align:center">GuessWord</h1>
	<div id="loginbut" class="button"><%= link_to 'Log In', :controller => 'sessions', :action => 'new' %></div>
	<br/>
	<div id="signinbut" class="button"><a href="/user/signin">Sign Up</a></div>
</body>
</html>